@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  width: 100vw;
  height: 100vh;
  background: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 315px;
}

.card {
    width: 315px;
    height: 484px;
    background: white;
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 28px;

}
.card img {
  width: 100%;
  border-radius: 12px;
}
.text{
    padding: 22px 10px;
}
.text h2 {
    padding-bottom: 1px;
    color: #1f3251;
}
.text p {
    color: #7b879d;
    padding:16px 21px;

}

.attribution {
  font-weight: 600;
  font-size: 10px;
  padding: 0 10px;
  text-align: center;
}
@media screen and (max-width:480px) {

    .card {
        margin-bottom:0;
    }
 
    
}